

.chat-room-container {
    max-width: 600px;
    margin: 0 auto;
}

.chat-room-header {

    
    font-family: "Jua", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.chat-room-list {
    list-style-type: none;
    padding: 0;
}

.chat-room-item {

    font-family: "Jua", sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-room-item:hover {
    background-color: #f0f0f0;
}
