.map {
    
    width: 100%;
    height: 400px;
    
  }


  .additional-info {

    font-family: "Jua", sans-serif;
  }


  .info-window {

    font-family: "Jua", sans-serif;
    
    text-align: center;

  

  }

  