
.my-info-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .my-info-container h1 {
    text-align: center;
    color: #333;
  }
  
  .my-info-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  .my-info-container p strong {
    color: #000;
  }
  
  .loading,
  .error {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
  }
  
  .back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  /* 반응형 디자인을 위한 미디어 쿼리 */
  @media (max-width: 768px) {
    .my-info-container {
      padding: 15px;
      margin: 10px;
      box-shadow: none;
      border-radius: 4px;
    }
  
    .my-info-container h1 {
      font-family: "Jua", sans-serif;
      font-size: 24px;
    }
  
    .my-info-container p {
      font-family: "Jua", sans-serif;
      font-size: 14px;
    }
  
    .back-button {
      font-family: "Jua", sans-serif;
      width: 100%;
      padding: 12px;
      font-size: 18px;
    }
  }

  .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image-container img {
  width: 100px; /* 원하는 크기로 조정 */
  height: 100px; /* 원하는 크기로 조정 */
  border-radius: 50%;/* 원형으로 만들기 위해 50%로 설정 */
  object-fit: cover; /* 이미지가 원형 안에 잘 맞게 조정 */
}
