
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .footer button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .footer button:hover {
    color: #aaa;
  }
  